h2 {
  color: var(--headingColor);
  font-weight: 700;
  font-size: 24px;
  /* border: 2px solid yellow; */
  margin-block: 5px;
}

.markdown-header-paragraph {
  margin-top: 5px;
  /* border: 2px solid green; */
}

.markdown-paragraph {
  color: var(--anchorColor);
  font-size: 12px;
  /* border: 2px solid green; */
  padding-left: 40px;
}
.markdown-header {
  /* border: 2px solid red; */
  padding-left: 40px;
}
.markdown-wrapper {
  background-color: var(--formColor);
}
