body {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--headingColor);
  font-size: 36px;
  font-weight: 600;
  font-family: "Tajawal";
  /* border: 2px solid green; */
  margin-top: 40px;
}
.sign-up-form {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  /* border: 2px solid red; */
}

.sign-up-form p {
  word-wrap: break-word;
}
.sign-up-input {
  width: 100%;
}
.sign-up-input input {
  background-color: var(--formColor);
  color: var(--whiteColor);
  width: 70%;
  height: 40px;
  padding-inline-start: 20px;
  border: none;
  align-items: center;
  margin-block-end: 1rem;
}

input::placeholder {
  color: var(--headingColor);
  font-family: "Tajawal";
}

.password-input {
  position: relative;
  /* border: 2px solid pink; */
}
.show-password-icons {
  position: absolute;
  top: 25%;
  margin-left: -40px;
}
.password-icon {
  color: var(--headingColor);
  font-size: 24px;
  cursor: pointer;
}

.account {
  /* border: 2px solid yellow; */
  margin-bottom: 4px;
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}
.login-css {
  font-size: 18px;
  color: var(--blueColor);
}

.forgot-css {
  font-size: 18px;
  color: var(--blueColor);
}

.sign-up-btn {
  width: 70%;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: var(--headingColor);
  border: 1px solid var(--blueColor);
  margin-block-end: 1rem;
}
.sign-up-btn:hover {
  background-color: transparent;
  border: 1px solid var(--headingColor);
}

.homepage {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: var(--blueColor);
}

@media (max-width: 820px) {
  .sign-up-input input {
    width: 50%;
    border-radius: 0;
  }
  .sign-up-btn {
    width: 50%;
  }
  .sign-up-form p {
    word-wrap: break-word;
  }

  input::placeholder {
    font-size: 16px;
    font-family: "Tajawal";
  }
}
