.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 68.75rem;
  height: 80px;
  padding: 0 1rem;
  /* border: solid red 2px; */
}
.navbar {
  background-color: var(--backgroundColor);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  /* border: 2px solid green; */
}

.navbar-elements ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.875rem;
  padding: 0;
  margin-block-start: 1rem;
}

.navbar-elements a {
  font-size: 1rem;
  font-weight: 500;
  color: var(--whiteColor);
  text-decoration: none;
}

.navbar-elements a.active {
  color: var(--blueColor);
  font-weight: 500;
  position: relative;
}

.navbar-elements a.active::after {
  content: "";
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  width: 100%;
  height: 0.125rem;
  background-color: var(--blueColor);
}

button {
  gap: 0.25rem;
}

.logo {
  width: 15.25rem;
  height: 3.5rem;
}

.menu-icon {
  display: none;
}
.navbar-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navbar-elements li:last-child {
  margin-inline-end: 3.75rem;
}

.btn {
  border: 1px solid var(--blueColor);
  background: transparent;
  color: var(--whiteColor);
  font-family: "Tajawal";
  font-weight: 400;
  line-height: 1.5rem;
  cursor: pointer;
  gap: 0.25rem;
  transition: background-color 0.3 ease;
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
}

.btn:hover {
  background-color: var(--blueColor);
}

.btn:focus {
  border-radius: 1.5rem;
  background: var(--blueColor);
  outline: 2px solid var(--blueColor);
  outline-offset: 1px;
  color: var(--whiteColor);
}

.form-btn {
  background-color: var(--blueColor);
  border-radius: 24px;
  padding: 8px 16px 8px 16px;
}

@media (max-width: 678px) {
  .menu-icon {
    display: block;
    cursor: pointer;
    color: var(--blueColor);
  }

  .navbar-elements {
    position: absolute;
    position: fixed;
    right: 0;
    top: 48px;
    background-color: var(--backgroundColor);
    width: 0;
    height: calc(100vh - 160px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .navbar-elements.active {
    position: fixed;
    width: 15rem;
  }

  .navbar-elements ul {
    display: flex;
    flex-direction: column;
  }

  .navbar-elements ul li {
    margin-inline-end: unset;
    margin-block-start: 0.25rem;
  }

  .btn {
    border: 2px solid var(--blueColor);
    border-radius: 24px;
    padding: 0.25rem 0.5rem;
  }

  .btn:focus {
    border-radius: 24px;
    background: var(--blueColor);
    outline: 2px solid var(--blueColor);
    outline-offset: 1px;
    color: var(--whiteColor);
  }

  .active-btn {
    background-color: var(--blueColor);
  }
}
