.hospital-list-container {
  display: flex;
  justify-content: space-between;
}

.hospital-list-number {
  width: 200px;
  text-align: center;
  font-size: 18px;
}
.hospital-list-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 0.5rem;
  font-size: 18px;
}

.hospital-list-filter,
.hospital-list-share,
.hospital-list-download {
  background-color: transparent;
  cursor: pointer;
  color: var(--headingColor);
  border: 1px solid transparent;
  transition: border-color 1s ease-in;
}

.hospital-detail-container {
  display: flex;
  max-width: 1100px;
  margin-block-end: 1rem;
  gap: 20px;
  /* border: 1px solid red; */
}

.hospital-image {
  height: 100%;
  width: 210px;
  border-radius: 5px;
  display: block;
  /* border: 2px solid yellow; */
}

.hospital-details {
  padding-inline-start: 10px;
  width: 100%;
  /* border: 2px solid blue; */
}

.hospital-detail-name {
  color: var(--headingColor);
  font-weight: 600;
  font-size: 20px;
}

.hosiptal-detail-info {
  text-wrap: balance;
  max-width: 700px;
}

.hospital-detail-socials {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.social-icons {
  color: var(--headingColor);
}
.homepage {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 676px) {
  .hospital-detail-container {
    flex-direction: column;
    text-wrap: balance;
  }
  .hospital-image {
    margin-top: 4px;
    margin-left: 4px;
  }
}
