.hospital-list-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.hospital-list-icons {
  display: flex;
  gap: 1rem;
}

.hospital-list-filter,
.hospital-list-share,
.hospital-list-download {
  background-color: transparent;
  cursor: pointer;
  color: var(--headingColor);
  border: 1px solid transparent;
  transition: border-color 1s ease-in;
}

.hospital-detail-container {
  display: flex;
  max-width: 1100px;
  margin-block-end: 1rem;
  gap: 20px;
  /* border: 1px solid red; */
}

/* .hospital-detail-image {

} */

.hospital-image {
  height: 100%;
  width: 210px;
  border-radius: 5px;
}

.hospital-details {
  padding-inline-start: 10px;
  width: 100%;
}

.hospital-detail-name {
  width: fit-content;
  color: var(--headingColor);
  font-weight: 600;
  font-size: 20px;
  /* margin-block-end: 1rem; */
}

.hosiptal-detail-info {
  text-wrap: balance;
  max-width: 700px;
}

.hospital-detail-socials {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.social-icons {
  color: var(--headingColor);
}
