.pagination-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 2rem;
  /* border: 2px solid red; */
}

.pagination-button {
  border: 2px solid var(--headingColor);
  background-color: transparent;
  color: var(--headingColor);
  cursor: pointer;
  transition: border-color 1s ease;
  /* border-radius: 50%; */
  font-family: "Tajawal";
  font-weight: bold;
  padding-inline: 12px;
  /* margin-block-end: 2rem; */
}

.pagination-button:hover {
  background-color: var(--headingColor);
  color: var(--mainColor);
}
