@import url("https://fonts.googleapis.com/css2?family=Tajawal&display=swap");

:root {
  --backgroundColor: #000;
  --whiteColor: #fff;
  --blueColor: #206df6;
  --mainColor: #212121;
  --headingColor: #e7e7e7;
  --formColor: #1f1f1f;
  --anchorColor: #b4b4b4;
}

::-webkit-scrollbar {
  display: none;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--backgroundColor);
}
