.hospital-wrapper {
  margin-block-end: 5rem;
  padding-inline: 1rem;
}

.hospital-container {
  padding: 3rem;
  border-radius: 15px;
  background-color: rgba(31, 31, 31, 1);
  margin: 0 auto;
}
.hospital-about {
  margin: 0 auto;
  max-width: 500px;
  text-align: center;
  word-wrap: break-word;
  margin-block-end: 5rem;
  /* border: 2px solid red; */
}

.hospital-about h1 {
  font-size: 36px;
  font-weight: 700;
  /* padding-block-start: 0.5rem; */
}

.hospital-about p {
  font-size: 16px;
  font-weight: 400;
}

.hospital-about h1,
p {
  color: var(--headingColor);
}

.hospital-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* padding-inline: 5rem; */
  /* border: 2px solid green; */
}

.feature {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
  margin-block: 2rem;
  /* border: 2px solid yellow; */
}
.feature h3 {
  color: var(--headingColor);
  font-size: 24px;
  font-weight: 600;
}

.feature-image {
  display: block;
  margin: 0.5rem auto;
}
.feature-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: 0.2rem;
}
